h1{
  outline:5px solid #e71a7a;
  outline-offset: -2px;
  margin-left: 600px;
  margin-right: 600px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.container {
  text-align: center;
}

ul.baseUL {
  display: inline-block;
  text-align: left;
  color: white;
}

img {
  border: 5px solid #e71a7a
}

body {
  background-size: cover;
  background-color: rgb(0, 0, 0);
}

li {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  margin-left: 1340px;
  margin-top: 50px;
  border: #e71a7a 3px solid;
  transition-duration: 0.4s;
  background-color:aqua;
}



